$counter-name: shipping-step;

$accent-color: crimson;
$invalid-color: crimson;
$valid-color: green;

.shipping {
  padding-top: 20px;
}

.shipping__container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.shipping__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.shipping__main-title {
  margin-right: 40px;
  color: gray;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
}

.shipping__subtitle {
  color: gray;
  font-size: 13px;
  font-style: italic;
}

.shipping__content {
  counter-reset: $counter-name;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shipping__column {
  flex: 1 0 300px;
  max-width: 350px;
  padding: 15px;

  &--center {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  &--right {
    max-width: 450px;
  }
}

.shipping__step {
  counter-increment: $counter-name;

  & + & {
    margin-top: 30px;
  }
}

.shipping__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

  &--counter::before {
    content: counter($counter-name)'. ';
    color: $accent-color;
    font-size: 20px;
  }
}

.shipping__row {
  position: relative;

  &--flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  & + & {
    margin-top: 20px;
  }
}

.shipping__label {
  display: block;
  width: 100%;
  font-size: 13px;

  & b {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  & b.inline {
    display: inline-block;
    margin: 0;
  }
}

.shipping__input,
.shipping__select,
.shipping__textarea {
  display: block;
  width: 100%;
  min-height: 30px;
  margin: 0;
  padding: 5px;
  color: black;
  font-family: inherit;
  font-weight: 400;
  border: 1px solid #cccccc;
  border-radius: 3px;
  resize: none;
  overflow: hidden;

  &--sm {
    width: 80%;
  }

  &:invalid {
    border-color: $invalid-color;
  }

  &::placeholder {
    color: #cccccc;
  }
}

.shipping__determ-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 500;
}

.shipping__link {
  flex-shrink: 0;
  color: $accent-color;
  font-size: 12px;
  text-decoration: underline;

  &:hover {
    color: darkolivegreen;
  }
}

.shipping__payment-images {
  display: flex;
  justify-content: space-between;
  max-width: 170px;
  margin: 0 auto;
}

.shipping__payment-image {
  width: auto;
  max-height: 30px;
}

.shipping__payment-type {
  & + & {
    margin-top: 20px;
  }
}

.shipping__submit {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 20px auto 0;
  color: white;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(#eb703c, #d05c29);
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(#d05c29, #d05c29);
  }

  &:active {
    transform: translateY(3px);
  }
}

@include r(1199) {
  .shipping__container {
    max-width: 700px;
  }

  .shipping__column--center {
    border-right: none;
  }

  .shipping__column--left,
  .shipping__column--center {
    border-bottom: 1px solid #ccc;
  }
}

@include r(639) {
  .shipping__header {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  .shipping__main-title {
    margin: 0;
    margin-bottom: 10px;
  }

  .shipping__container {
    max-width: 350px;
  }

  .shipping__column--left {
    border-bottom: none;
  }

  .shipping__column--center {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
  }

  .shipping__column--right {
    max-width: 300px;
    padding-left: 0;
    padding-right: 0;
    border-top: none;
  }

  .shipping__select-package {
    margin-top: 0;
  }
}